/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin : 0;
	padding : 0;
	border : 0;
	font-size : 100%;
	font : inherit;
	vertical-align : baseline;
}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display : block;
}
	body {
		background:#000;
	line-height : 1;
}
	ol, ul {
	list-style : none;
}
	blockquote, q {
	quotes : none;
}
	blockquote:before, blockquote:after, q:before, q:after {
	content : '';
	content : none;
}
	table {
	border-collapse : collapse;
	border-spacing : 0;
}


/* #Basic Styles
================================================== */
	body {
	font : 14px/21px 'BenchNine', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color : #f3f3f3;
}
	.logo {
	margin : 30px auto 10px;
	}
	#topheader {
	width : 100%;
	height : 100px;
	z-index:6; position:absolute;
	margin-top: -10px;
	}
	.header {
	text-align : center;
	padding : 0 20px 0 20px;
	margin-top: -10px;
}
	
/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
	color : #f3f3f3;
	font-family:Arial;
	font-weight : normal;
}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight : inherit;
}
	h1 {
	font-size : 46px;
	line-height : 36px;
	margin-bottom : 14px;
	font-weight : 300;
	font-style : normal;
}
	h2 {
	font-size : 41px;
	line-height : 40px;
	margin-bottom : 10px;
}
	h3 {
	font-size : 34px;
	line-height : 30px;

}
	h4 {
	font-size : 14px;
	line-height : 30px;
	margin-bottom : 4px;
	font-weight : 400;
	text-align : center;
	color : #999999;
}
	h5 {
	font-size : 23px;
	line-height : 24px;
}
	h6 {
	font-size : 20px;
	line-height : 21px;
	font-weight : 400;
	font-style : italic;
	text-align : center;
	color : #8cdcea;
}
	.subheader {
	color : #777;
}
	p {
	margin : 0 0 20px 0;
}
	p img {
	margin : 0;
}
	p.lead {
	font-size : 21px;
	line-height : 27px;
	color : #999999;
}
	em {
	font-style : italic;
}
	strong {
	font-weight : bold;
	color : #f3f3f3;
}
	small {
	font-size : 80%;
}
	
	
	

/*	Blockquotes  */
	blockquote, blockquote p {
	font-size : 17px;
	line-height : 24px;
	color : #777;
	font-style : italic;
}
	blockquote {
	margin : 0 0 20px;
	padding : 9px 20px 0 19px;
	border-left : 1px solid #ddd;
}
	blockquote cite {
	display : block;
	font-size : 12px;
	color : #555;
}
	blockquote cite:before {
	content : "\2014 \0020";
}
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color : #555;
}
	hr {
	border : #ddd solid;
	border-width : 1px 0 0;
	clear : both;
	margin : 10px 0 30px;
	height : 0;
}


/* #Links
================================================== */
	a, a:visited {
	color : #f3f3f3;
	text-decoration : underline;
	outline : 0;
}
	a:hover, a:focus {
	color : #ffffff;
}
	p a, p a:visited {
	line-height : inherit;
}
	a.link_underline {

}



/* #Lists
================================================== */
	ul, ol { margin-bottom : 20px; }
	ul { list-style : none;	}
	ol { list-style : decimal;	}
	ol, ul.square, ul.circle, ul.disc {	margin-left : 30px;	}
	ul.square {	list-style : square;	}
	ul.circle {	list-style : circle;	}
	ul.disc {	list-style : disc;	}
	ul ul, ul ol, ol ol, ol ul { margin : 4px 0 5px 30px; font-size : 90%;	}
	ul ul li, ul ol li, ol ol li, ol ul li {margin-bottom : 6px;}
	li { line-height : 18px; margin-bottom : 12px;	}
	ul.large li {line-height : 21px;	}
	li p {	line-height : 21px;	}

/* #Images
================================================== */

	img.scale-with-grid {
	max-width : 100%;
	height : auto;
	}

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


/*--- Footer starts ---- */

	#footer {
		margin : 0 auto;
		left : 0;
		bottom : 0;
		height : 80px;
		width : 100%;
		clear : both;
		border-top : 1px solid #333;
	}
	.footerLeft {
		
		color : #CCC;
		float : left;
		padding-top : 20px;
		margin-left:20px;
		font-size : 14px;
		/*vertical-align : middle;*/
		text-align : center;
	}
	.footerRight {
		
		color : #999999;
		float : right;
		padding-top : 25px;
		/*vertical-align : middle;*/
		alignment-baseline : central;
	}
	#followUs a {
		float : right;
		position : relative;
		width : 24px;
		height : 24px;
	}
	#socials li {
		float : right;
		padding-right : 15px;
		opacity : 0.4000000059604644775390625;
	}
	#socials li:last-child {
		padding-right : 15px;
	}
	#socials li:hover {
		opacity : l;
	}

/*--- Footer ends ---- */